@import '../../Sass/variables';

.userForm {
  &-input {
    width: auto;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: $bg;
    margin-right: 12px;
    width: 15%;
    & + & {
      text-align: left;
    }
  }
}
